body {
    padding-top: 10px;

}

header {
    position: fixed;
    background-color: #40e0d0;
    width: 100%;
    padding: 5px;
    top: 0;
}

p {
    color: #40e0d0;
    font-size: 25px;
    font-weight: bold;
}

.bg{
    background-color: #dc143c;
    background-image: url('./images/images.webp');
}

.bg-image {
    width: 540px;
    height: 340px;
}

.bg-repeat {
    background-repeat: no-repeat;
    height: 540px;
}

.bg-size-cover {
    background-size: cover;
    height: 600px;
}

.bg-fixed {
    background-attachment: fixed;
    height: 600px;
}

.bg-position {
    background-position: right bottom;
    background-repeat: no-repeat;
    height: 600px;
}

.bg-encurtada {
    background: #dc143c url('./images/images.webp') no-repeat right top;
    height: 600px;
}